@media screen and (min-width:600px){

/* background image */
.login-overlay {
  background-size:cover;
  padding:15em;
}

/* header text */
.log-in-page {
  margin: 1em;
  padding: 2em;
} 

/* .link-register-div {
  color: white;
  font-weight: bolder;
} */
}

/* MOBILE STYLE */
.login-overlay {
  background-image: url('/src/images/ItalyBackground.jpeg');
  background-size:cover;
  border-radius: 1em;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding:10em;
}

/* header text */
.log-in-page {
  color:white;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: right;
  color:white;
  margin-bottom: 1em;
  font-weight: bold;
}

.login-input {
  margin-bottom: 1em;
  border: none;
  border-radius: .3em;
  padding-left: .5em;
}

.login-button {
  background:orangered;
  padding: .3em .6em;
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  margin: .3em;
  display: flex;
  justify-content: center;
  }