/* .login-component {
  /* background-image: url('/src/images/ItalyBackground.jpeg'); */
  /* background-size: cover; */
  /* min-width: 100vh; */
  /* background:lightgray; */
  /* min-height: 100vh;
} 
*/


/* background image */
.login-overlay {
  background-image: url('/src/images/ItalyBackground.jpeg');
  background-size:cover;
  border-radius: 1em;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding:15em;
}

/* header text */
.log-in-page {
  /* background:rgba(255,255,255, 0.5); */
  margin: 1em;
  padding: 2em;
  color:white;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* align-content: right; */
  text-align: right;
  color:white;
  margin-bottom: 1em;
  font-weight: bold;
}

.login-input {
  margin-bottom: 1em;
  border: none;
  border-radius: .3em;
  padding-left: .5em;
}

.login-button {
/* background:yellow; */
background:orangered;
padding: .3em .6em;
color: white;
border: none;
border-radius: .3em;
font-size: 1em;
font-family: sans-serif;
margin: .3em;
display: flex;
justify-content: center;
}

.link-register-div {
  color: white;
  font-weight: bolder;
}

a:hover {
  color: orange;
}

a {
  color:white;
}