.form-wizard-div {
  /* display: flex; */
  background: white;
  padding: .5em 0em 2em 0em;
  margin: 3em;
  border-radius: 1em;
}
.widget-btn {
  /* background: #307E7C; */
  background: darkolivegreen;
  padding: .3em .6em;
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  margin: .3em;
}

 .next-btn, .previous-btn, .add-btn, .sub-another-btn{
  padding: .3em .6em;
  background: #307E7C;

  /* background: orangered; */
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  margin: .3em;
}

.form-control {
  /* display: flex; */
  /* flex: 2; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  border: none;
  border-radius: .3em;
  font-size: .9em;
  font-family: sans-serif;
  padding: .3em;
  margin: .3em;
  background:pink;
}