.accounts-page {
background-image: url('/src/images/29239.jpg');
background-size: cover;
background-repeat: no-repeat;
border-radius: 1em;
display:flex; 
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1em;
padding: 2em;
}

.saved-locations {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.saved-locations-box {
  background:white;
  display:flex; 
  justify-content: center;
  align-items: center; 
  border: none;
  /* max-width: 80em; */
  margin: 6em 5em 0 5em;
  padding:2em;
  border-radius: 3em;
}

 .same {
   flex:1;
} 


/* @media screen and (min-width:800px){
  .App {
    display: flex;
    }
} */
