.accounts-page {
/* background-image: url('/src/images/7b5020dd70445976171bf410b149ef39.jpg'); */
 /* background-color: rgb(0,37,0); */
 background: lightgray;
}

.saved-locations {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.saved-locations-box {
  background:white;
  display:flex; 
  justify-content: center;
  align-items: center; 
  border: none;
  max-width: 80em;
  margin: 6em 5em 0 5em;
  padding:2em;
  border-radius: 3em;
}

 .same {
   flex:1;
} 


/* @media screen and (min-width:800px){
  .App {
    display: flex;
    }
} */
