/* /////////////////MOBILE STYLING ////////////////////////////////////// */

/* list of returned results */
.search-list {
  background:white;
  margin: 1em 1em 0 1em;
  border-radius:2em;
  padding-bottom:2em;
}

.search-list-img {
  max-width: 90%;
  height: auto;
  border-radius: .5em;
}

.content-p, .keyword-p {
  font-weight: bold;
}

/*///////////// input box & button ///////////////////////////////////*/
.search-input {
  border: none;
  border-radius: .3em;
  font-size: .9em;
  font-family: sans-serif;
  padding: .3em;
  margin: .3em;
  background:pink;
}

.search-button {
  padding: .3em .6em;
  background: #307E7C;
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  margin: .3em;
}

.search-form {
  /* flex:2; */
  background: white;
  padding: 2.5em;
  margin: 3em;
  border-radius: 1em;
}

.map-image-search-page {
  max-width: 90%;
  max-height:80%;
  border-radius: .5em;
}

.search-label {
  font-weight: bold;
}

/* FULL SCREEN */
@media screen and (min-width:600px) {
.search-list {
border-radius: 2em;
}

.content-div {
  display: flex;
  flex-direction: row;
  }

  /* right section of card */
  .right-side-map-keyword {
    flex: 1;
  }

  .left-side-image-content-search-page {
    flex: 1;
  }

  .map-image-search-page {
    border-radius: .5em;
  }

}