/* MOBILE STYLING */

/* container with the rating icons  */
.stars-container {
  display:flex;
}

/* size of icons */
.font-awesome {
  font-size: 2em;
}


/* whether or not the icons are filled in */
.empty-star {
  color:lightgray;
  display:flex;
}

.full-star {
  color: darkolivegreen;
}


/*  the actual ratings drop down   */
.rating-select {
  /* background: palevioletred; */
  margin: 0em 0em 2em .5em;
  align-items: center;
  border-radius: .3em;
  padding-left: .75em;
  padding-right: .75em;
}


/*ratings drop down section */
.rating-select-div {
  display: flex; 
}


/* dropdown submit button*/
.rating-btn {
  padding: .3em .6em;
  background: #307E7C;
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  font-weight:bold;
  margin: 1em;
/* figure out how to get button inline with the text! */
}


.rating-form {
  padding: 1.5em;
}


/* FULL SCREEN STYLING  */
@media screen and (min-width:600px){
  /* entire ratings section icons + dropdown  */
  .ratings {
    padding: 3em 1em 0em 1em;
  }
  
  .rating-form {
    display: flex;
    justify-content: space-around;
  }
  
}