.nav-bar {
  padding-top: 1em;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  vertical-align: bottom;
  font-weight: bolder;
}

.nav-links {
  color:black;
}

.nav-links:hover {
  color: orangered;
}


