/* MOBILE STYLING */

/* background image */
.landing-overlay {
  background-image: url('/src/images/secretcampingbackground.jpg');
  background-size: cover;
  border-radius: 1em;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding:8em;
}

.landing-page-header {
  color:white;
  font-size: 1.5em;
}

.content-div {
  display: flex; 
  flex-direction: column;
  width: 15em;
}

.landing-page-content {
  color:white;
  font-weight: bold;
}

.landing-btn {
  background:orangered;
  padding: .3em .6em;
  color: white;
  border: none;
  border-radius: .3em;
  font-size: 1em;
  font-family: sans-serif;
  margin: .3em;
}




/* FULL SCREEN */
@media screen and (min-width:600px){
  /* background image */
  .landing-overlay {
    background-size: cover;
    padding:15em;
  }
  
  .landing-page-header {
    /* margin: 1em; */
    /* padding: 2em; */
    font-size: 2em;

  }
  
  .landing-page-content {
    margin: 1em;
    padding: 2em;
    width: 100%;
  }
    
  a:link {
    text-decoration:none;
  }
  
  .content-div {
     width: 100%;
  }
  
  }
